{% extends 'base.html.twig' %}

{% block title %}Connexion {% endblock %}

{% block body %}
<!-- Header starts
======================================= -->
<div class="inner-page-banner">
    <div class="container text-center">
        <h1>Connexion</h1>
    </div>
    <!-- End of .container -->
</div>
<section class="image-with-description">
    <div class="trigger-image-with-description"></div>
    <svg class="bg-shape image-with-description-shape-bg reveal-from-right" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" width="779px" height="759px">
        <defs>
            <linearGradient id="PSgrad_01" x1="70.711%" x2="0%" y1="70.711%" y2="0%">
                <stop offset="0%" stop-color="rgb(237,247,255)" stop-opacity="1" />
                <stop offset="100%" stop-color="rgb(237,247,255)" stop-opacity="0" />
            </linearGradient>
        </defs>
        <path fill-rule="evenodd" fill="url(#PSgrad_01)" d="M111.652,578.171 L218.141,672.919 C355.910,795.500 568.207,784.561 692.320,648.484 C816.434,512.409 805.362,302.726 667.592,180.144 L561.104,85.396 C423.334,-37.184 211.037,-26.245 86.924,109.832 C-37.189,245.908 -26.118,455.590 111.652,578.171 Z" />
    </svg>

    <div class="container jumbotron">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-big btn-primary mt-5" type="submit">
                Sign in
            </button>
        </form>
    </div>
</section>
{% endblock %}
