{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <!-- Header starts
        ======================================= -->
    <div class="inner-page-banner">
        <div class="container text-center">
            <h1>Bonjour {{ app.user.surname }}</h1>
        </div>
        <!-- End of .container -->
    </div>
    <section class="case-studies-grid-wrapper section-padding">
        <svg class="bg-shape shape-case-study reveal-from-left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             width="779px" height="759px">
            <defs>
                <linearGradient id="PSgrad_03" x1="70.711%" x2="0%" y1="70.711%" y2="0%">
                    <stop offset="0%" stop-color="rgb(237,247,255)" stop-opacity="1" />
                    <stop offset="100%" stop-color="rgb(237,247,255)" stop-opacity="0" />
                </linearGradient>

            </defs>
            <path fill-rule="evenodd" fill="url(#PSgrad_03)" d="M111.652,578.171 L218.141,672.919 C355.910,795.500 568.207,784.561 692.320,648.484 C816.434,512.409 805.362,302.726 667.592,180.144 L561.104,85.396 C423.334,-37.184 211.037,-26.245 86.924,109.832 C-37.189,245.908 -26.118,455.590 111.652,578.171 Z"
            />
        </svg>
        <div class="container">
            <div class="case-study-showcase">
                <div class="row equalHeightWrapper">
                    <!-- End of .col-md-6 -->

                    <div class="item col-md-6">
                        <a href="{{ path('admin_user_index') }}" class="case-study-content-block content-block text-left">
                            <div class="img-container">
                                <img src="{{ asset('images/users.png') }}" alt="Project image" class="img-fluid" style="height: 200px">
                            </div>
                            <!-- End of .img-container -->
                            <div class="txt-content equalHeight">
                                <h5>
                                    Gestion des utilisateurs
                                </h5>
                            </div>
                            <!-- End of .txt-content -->
                        </a>
                        <!-- End of .featured-content-block -->
                    </div>
                    <!-- End of .col-md-6 -->

                    <div class="item col-md-6">
                        <a href="{{ path('admin_trick_index') }}" class="case-study-content-block content-block text-left" >
                            <div class="img-container">
                                <img src="{{ asset('images/tricks.jpg') }}" alt="Project image" class="img-fluid" style="height: 200px">
                            </div>
                            <!-- End of .img-container -->
                            <div class="txt-content equalHeight">
                                <h5>
                                    Gestion des tricks
                                </h5>
                            </div>
                            <!-- End of .txt-content -->
                        </a>
                        <!-- End of .featured-content-block -->
                    </div>
                    <!-- End of .col-md-6 -->
                </div>
                <!-- End of .grid -->
            </div>
            <!-- End of .template-showcase -->
        </div>
        <!-- End of .container -->
    </section>

{% endblock %}
