<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Snowtricks communauté{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="Trendy HTML Template for Digital Agencies">
    <meta name="keywords" content="trendy, digital agency, seo agency, startups">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/miniline.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor/slick.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor/slick-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor/magnific-popup.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<!-- Bootstrap JS -->
<body class="body-bg-style-3 inner-page">
<div class="page-wrapper">
    <svg class="bg-shape inner-page-shape-banner-right reveal-from-right" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" width="779px" height="759px">
        <defs>
            <linearGradient id="PSgrad_01" x1="70.711%" x2="0%" y1="70.711%" y2="0%">
                <stop offset="0%" stop-color="rgb(237,247,255)" stop-opacity="1" />
                <stop offset="100%" stop-color="rgb(237,247,255)" stop-opacity="0" />
            </linearGradient>
        </defs>
        <path fill-rule="evenodd" fill="url(#PSgrad_01)" d="M111.652,578.171 L218.141,672.919 C355.910,795.500 568.207,784.561 692.320,648.484 C816.434,512.409 805.362,302.726 667.592,180.144 L561.104,85.396 C423.334,-37.184 211.037,-26.245 86.924,109.832 C-37.189,245.908 -26.118,455.590 111.652,578.171 Z" />
    </svg>

    <svg class="bg-shape inner-page-shape-banner-left reveal-from-left" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" width="779px" height="759px">
        <defs>
            <linearGradient id="PSgrad_02" x1="70.711%" x2="0%" y1="70.711%" y2="0%">
                <stop offset="0%" stop-color="rgb(237,247,255)" stop-opacity="1" />
                <stop offset="100%" stop-color="rgb(237,247,255)" stop-opacity="0" />
            </linearGradient>
        </defs>
        <path fill-rule="evenodd" fill="url(#PSgrad_02)" d="M111.652,578.171 L218.141,672.919 C355.910,795.500 568.207,784.561 692.320,648.484 C816.434,512.409 805.362,302.726 667.592,180.144 L561.104,85.396 C423.334,-37.184 211.037,-26.245 86.924,109.832 C-37.189,245.908 -26.118,455.590 111.652,578.171 Z" />
    </svg>

        {{  include('inc/navbar.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('inc/footer.html.twig') }}
</div>
<!-- jQuery -->
<script src="{{ asset('js/vendor/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('js/vendor/jquery-migrate.min.js') }}"></script>
<!-- Bootstrap js -->
<script src="{{ asset('js/vendor/bootstrap.bundle.min.js') }}"></script>
<!-- font awesome -->
<script src="{{ asset('js/vendor/fontawesome-all.min.js') }}"></script>
<!-- jQuery Easing Plugin -->
<script src="{{ asset('js/vendor/easing-1.3.js') }}"></script>
<!-- jQuery progressbar plugin -->
<script src="{{ asset('js/vendor/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.counterup.min.js') }}"></script>
<!-- Bootstrap Progressbar -->
<script src="{{ asset('js/vendor/bootstrap-progressbar.min.js') }}"></script>
<!-- ImagesLoaded js -->
<script src="{{ asset('js/vendor/imagesloaded.pkgd.min.js') }}"></script>
<!-- Slick carousel js -->
<script src="{{ asset('js/vendor/slick.min.js') }}"></script>
<!-- Magnific popup -->
<script src="{{ asset('js/vendor/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('js/vendor/isotope.pkgd.min.js') }}"></script>
<!-- scroll magic -->
<script src="{{ asset('js/vendor/jquery.ScrollMagic.min.js') }}"></script>
<script src="{{ asset('js/vendor/debug.addIndicators.min.js') }}"></script>
<script src="{{ asset('js/vendor/jquery.TweenMax.min.js') }}"></script>
<script src="{{ asset('js/vendor/animation.gsap.min.js') }}"></script>
<script src="{{ asset('js/vendor/scrollReveal.js') }}"></script>
<!-- Custom js -->
<script src="{{ asset('js/main.js') }}"></script>
{% block javascripts %}

{% endblock %}
</body>

</html>
