{% block stylesheets %}
    <style>
        #simpleform {
            width:600px;
            border:2px solid grey;
            padding:14px;
        }
        #simpleform label {
            font-size:18px;
            float:left;
            width:300px;
            text-align:right;
            display:block;
        }
        #simpleform span {
            font-size:11px;
            color:grey;
            width:100px;
            text-align:right;
            display:block;
        }
        .image-thumbnail{
            width: 100px;
            height: 100px;
        }

    </style>
{% endblock %}

<div class="col-lg-9 col-md-10 mx-auto jumbotron theme-bg-c text-white">
    {{ form_start(form, {'attr':{'id':'trigger'}}) }}

    <div class="form-group">
        <label for="name">Nom du Trick</label>
        {{ form_widget(form.name, {'attr':{'class':'form-control form-control-lg'}}) }}
    </div>
    <div class="form-group">
        <label for="name">Description</label>
        {{ form_widget(form.description, {'attr':{'class':'form-control form-control-lg'}}) }}
    </div>
    <div class="form-group">
        <label for="name">Groupe</label>
        {{ form_widget(form.groups, {'attr':{'class':'form-control form-control-lg p-2'}}) }}
    </div>
    <div class="form-group">
        <label for="name">Images</label>

            {% if(trick.image) %}
            <div class="row">
                {% for image in  trick.image %}
                    <div class="col-3 col-xs-6 border p-5 text-center">
                        <img src="{{ "../../images/"~image.source }}" alt="{{ image.alternatif }}" class="image-thumbnail">
                        <a href="{{ path('imaage_delete',{'id':image.id}) }}" data-delete data-token="{{ csrf_token('delete'~image.id) }}" class="rounded"><i class="fa fa-trash text-danger"></i></a>
                    </div>
                {% endfor %}
            </div>
                {% set i=1 %}
                {% for image in trick.image %}
                    <input type="hidden" value="{{ image.source }}" name="{{ i }}">
                    {% set i=i+1 %}
                {% endfor %}
            {% endif %}

        {{ form_widget(form.image, {'attr':{'class':'form-control form-control-lg mt-2'}}) }}
    </div>
    <div class="form-row">
        <div id="simpleform" class="form-group col-6 card-header p-2">
            {{ form_widget(form.video) }}
            <a href="#" id="add_video" class="btn btn-success float-right">Ajouter une vidéo</a>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-warning btn-big mt-2 float-right">{{ button_label|default('Enregistrer') }}</button>
    </div>
    <br/><br/>

</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{# Voici le script en question : #}
<script type="text/javascript">
    $(document).ready(function() {
        var $container = $('div#trick_video');
        var index = $container.find(':input').length;
        $('#add_video').click(function(e) {
            addVideo($container);
            e.preventDefault();
            return false;
        });
        if (index == 0) {
            addVideo($container);
        } else {
            $container.children('div').each(function() {
                addDeleteLink($(this));
            });
        }
        function addVideo($container) {
            console.log($container);
            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Video n°' + (index+1))
                .replace(/__name__/g,        index)
            ;
            var $prototype = $(template);
            addDeleteLink($prototype);
            $container.append($prototype);
            index++;
        }
        function addDeleteLink($prototype) {
            // Création du lien
            var $deleteLink = $('<a href="#" style="padding-top: 2px" class="btn btn-danger">Supprimer</a>');
            // Ajout du lien
            $prototype.append($deleteLink);
            // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
            $deleteLink.click(function(e) {
                $prototype.remove();
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });
        }
    });
</script>
<script>
    let links=document.querySelectorAll("[data-delete]");
    for(link of links){
        link.addEventListener('click', function(e){
            e.preventDefault();
            if(confirm("Voulez-vous supprimer cet image")){
                fetch(this.getAttribute("href"),{
                    method:"DELETE",
                    headers:{
                        "X-Requested-With":"XMLHttpRequest",
                        "Content-Type":"application/json"
                    },
                    body: JSON.stringify({"_token": this.dataset.token})
                }).then(
                    response=>response.json()
                ).then(data=>{
                    if(data.success){
                       this.parentElement.remove();
                    }else{
                        alert(data.error)
                    }
                }).catch(e=>alert(e))
            }
        })
    }
</script>


{{ form_end(form) }}