{% extends 'base.html.twig' %}

{% block title %}Salut l'admin!{% endblock %}

{% block body %}
<!-- Header starts
    ======================================= -->
<div class="inner-page-banner">
    <div class="container text-center">
        <h1>Bonjour {{ app.user.surname }}</h1>
    </div>
    <!-- End of .container -->
</div>
<section class="case-studies-grid-wrapper section-padding">
    <svg class="bg-shape shape-case-study reveal-from-left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         width="779px" height="759px">
        <defs>
            <linearGradient id="PSgrad_03" x1="70.711%" x2="0%" y1="70.711%" y2="0%">
                <stop offset="0%" stop-color="rgb(237,247,255)" stop-opacity="1" />
                <stop offset="100%" stop-color="rgb(237,247,255)" stop-opacity="0" />
            </linearGradient>

        </defs>
        <path fill-rule="evenodd" fill="url(#PSgrad_03)" d="M111.652,578.171 L218.141,672.919 C355.910,795.500 568.207,784.561 692.320,648.484 C816.434,512.409 805.362,302.726 667.592,180.144 L561.104,85.396 C423.334,-37.184 211.037,-26.245 86.924,109.832 C-37.189,245.908 -26.118,455.590 111.652,578.171 Z"
        />
    </svg>
    <div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Créé le</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.description }}</td>
                <td>{{ group.createdAt ? group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('group_edit', {'id': group.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('group_new') }}">Créer un nouveau groupe</a>
    </div>
</section>
{% endblock %}
